node_modules
.next
out
dist
.env
.env*
!.env.example
*.glb
*.gltf
*.bin
*.usdz
*.fbx
*.obj
*.zip
*.tsbuildinfo
edge-profile
edge-profile-mobile
Crashpad
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
